/*Global selectors*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', Ariel, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

section {
    padding: 80px 0;
}


.long-copy {
    margin-left: 15%;
    line-height: 145%;
    width: 70%;
}

.box {
    padding: 1%;
}

/*---Header styles---*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    margin: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;   
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}


.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}


.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active {
    background-color: #cf6d17;
}


.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;   
}


.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}


.logo {
    height: 100px;
    width: auto;
    float: left; 
    margin-top: 20px;
}


.main-nav {
    float: right;
    margin-top: 60px;
}

.nav-links:link,
.nav-links:visited {
    color: #fff;
    text-transform: uppercase;
    margin-left: 40px;    
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.nav-links:hover,
.nav-links:active {
    border-bottom: 2px solid #e67e22;
}



/*---Features styles---*/


.section-features h2 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 180%;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

.section-features h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 30px auto;  
}


.section-features .long-copy {
    margin-bottom: 30px;
}


.icon-big {
    display: block;
    color: #e67e22;
    font-size: 300%;
    margin: 10px 0;
    text-align: center;
   
}

.section-features h3 {
    font-weight: 300;
    font-size: 110%;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.box p {
    font-size: 90%;
    line-height: 145%;    
}


/*---Favourite meals section styles---*/

.section-meals {
    padding: 0;
}


.meals-showcase {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    width: 100%;
    
}

.meal-img {
    width: 100%;
    overflow: hidden;
    background-color: #000;
}


.meals-showcase img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}


.meals-showcase img:hover {
    opacity: 1;
    transform: scale(1.03);
    
}

/*---How it works section styles---*/

.section-how-it-works {
    background-color: #f4f4f4;
}


.section-how-it-works h2 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
}

.section-how-it-works h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 100px;
    margin: 30px auto;  
}


.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}


.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 50px;    
}


.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    float: left; 
    margin-right: 25px;
}


.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 15px;
}

/*---Cities section styles---*/





/*---Customer testimonials section styles---*/





/*---Sign-up section styles---*/





/*---Contact form styles---*/




